{% extends "base.html" %}

{% block content %}

	<h1>Add your ingredient</h1>
	
	<form action="" method="post">
		{{ add_ingredient_form.hidden_tag() }}
		<p>
		{{ ingredient.description }}
		</p>
		<p>
		{{ add_ingredient_form.ingredient_amt.label }}
		{{ add_ingredient_form.ingredient_amt }}
		{{ add_ingredient_form.submit_add_ingredient() }}
		</p>
		<p>
		{% for error in add_ingredient_form.ingredient_amt.errors %}
		<span style="color:red;">[{{ error }}]</span>
		{% endfor %}
		</p>
	</form>

{% endblock %}