{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<h1>Edit ingredients</h1>
        <h2>Ingredients Summary</h2>
			<table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Amount in Recipe (g)</th>
                        <th scope="col">Protein (g)</th>
                        <th scope="col">Fat (g)</th>
                        <th scope="col">Carbohydrates (g)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe.ingredients %}
                    <tr>
                        <td>{{ ingredient.ingredient.description }}</td>
                        <td>{{ ingredient.ingredient_amt }}</td>
                        <td>{{ ingredient.get_protein_scaled() }}</td>
                        <td>{{ ingredient.get_fat_scaled() }}</td>
                        <td>{{ ingredient.get_carbohydrates_scaled() }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><p style="color:white;"> </p></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row" colspan="2">Total</td>
                        <td>{{ recipe.get_macro_totals()[0] }}</td>
                        <td>{{ recipe.get_macro_totals()[1] }}</td>
                        <td>{{ recipe.get_macro_totals()[2] }}</td>
                    </tr>
            </tbody>
			</table>

    <div class="row">
        <div class="col-md-4">
            {{  wtf.quick_form(edit_ingredient_form) }}
        </div>
    </div>
{% endblock %}